body {
  background-color: #441E13;
  color: white;
}
div {

}
.logo {
  width: 200px;
  font-size: 2.5rem;
  font-weight: bold;
  float: left;
}
.slogan {
  width: 360px;
  float: left;
  margin-top: 15px;
  font-family: sans-serif;
  font-size: 0.9rem;
  color: #A37B71;
}
.logoContainer {
  overflow:hidden;
  max-width: 920px;
  margin-left: auto;
  margin-right: auto;
}
.nav {
  max-width:920px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(0,0,0,0.3);
  padding: 0 10px;
  padding-top: 18px;
}
/* class made to control the list in the class */
.nav li {
  display: block;
  float: left;
  font-family: sans-serif;
  padding: 6px 20px;
  border-right: 1px solid #D4B365;
}
.nav li:last-child {
  border-right: none;
}
.aboutContainer {
  max-width: 920px;
  height: 215px;
  background-color: #87A984;
  margin-left: auto;
  margin-right: auto;
}
.aboutContainer img {
  width: 210px;
  height: 215px;
  float:left;

}
.about {
  max-width: 450px;
  padding-top: 40px;
  font-size: 2rem;
  font-weight: bold;
  float: left;
}
.about p {
  display: block;
  font-size: 1.1rem;
  font-weight: lighter;
  font-family: sans-serif;
}
/* making separate boxs then making seperate class */
.leftBox {
  width: 170px;
  background-color: #96AFAC;
  height: 700px;
  padding: 20px;
  float:left;
}
/*
.subNav li {
  font-size: 15px;
  font-family: sans-serif;
  border-bottom: 1px solid #FFFFFF;
  list-style: none;
  list-style-type:none;
  margin:0;
  padding: 0px;
  border: 1px red solid;
}
*/
.subNav p {
  border-bottom: 1px solid #FFFFFF;
  padding: 0px 0px 15px 0px;
  margin: 10px 0px 20px 0px;
}

.rightBox {
  overflow: hidden;
  width: 710px;
  background-color: #DBD8C5;
  height: 700px;
  float: left;
}
.rightBox h3 {
  font-family: sans-serif;
  font-size: 1.8rem;
  color: #576A7B;
  margin-left: 40px;
}
.rightBox p {
  color: rgba(0,0,0,0.55);
  font-family: sans-serif;
  margin: 25px 40px 0px 40px;
}
.midContainer {
  overflow:hidden;
  width: 920px;
  height: 700px;
  margin-left: auto;
  margin-right: auto;
}
