body {
  background-color: #441E13;
  color: white;
}
div {
  outline: 1px red solid;
}
.logo {
  width: 200px;
  font-size: 2.5rem;
  font-weight: bold;
  float: left;
}
.slogan {
  width: 360px;
  float: left;
  margin-top: 15px;
  font-family: sans-serif;
  font-size: 0.9rem;
  color: #A37B71;
}
.logoContainer {
  overflow:hidden;
  max-width: 920px;
  margin-left: auto;
  margin-right: auto;
}
.nav {
  max-width:920px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(0,0,0,0.3);
  padding: 0 10px;
  padding-top: 18px;
}
/* class made to control the list in the class */
.nav li {
  display: block;
  float: left;
  font-family: sans-serif;
  padding: 6px 20px;
  border-right: 1px solid #D4B365;
}
.nav li:last-child {
  border-right: none;
}
.aboutContainer {
  max-width: 920px;
  height: 215px;
  background-color: #87A984;
  margin-left: auto;
  margin-right: auto;
}
.aboutContainer img {
  width: 210px;
  height: 215px;
  float:left;
}
.about {
  max-width: 450px;
  padding-top: 40px;
  font-size: 2rem;
  font-weight: bold;
  float: left;
  padding-left: 20px;
}
.about p {
  display: block;
  font-size: 1.1rem;
  font-weight: lighter;
  font-family: sans-serif;
}
.secondNav {
  max-width: 200px;
  height: 620px;
  background-color: #96AFAC;
  float: left;
}
.mainBody {
  max-width: 800px;
  height: 620px;
  background-color: #DBD8C5;
  color: #576D78;
  font-family: sans-serif;
  font-size: 1.6rem;
  font-weight: bold;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 45px;
  float: left;
  margin-left: 35px;
}
.mainBody p {
  width: 660px;
  font-size: 1rem;
  font-weight: normal;
  color: black;
  padding-top: 20px;
}
.contentContainer {
  max-width: 920px;
  margin-left: auto;
  margin-right: auto;
  outline: 1px blue solid;
  overflow:hidden;
}
